{% layout "layout.liquid" %}

{% block content %} 
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script src="js/index.js" defer></script>
<link type="text/css" rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<h1 class="home">Home</h1>

<!-- Working on making carousel -->
<div class="buttonsDiv">
    <button class="buttonBack"><img class="back" src="https://cdn-icons-png.flaticon.com/512/60/60758.png"></button>
    <button class="buttonNext"><img class="next"src="https://cdn-icons-png.flaticon.com/512/60/60758.png"></button>
</div>

<div class="carousel">
    <a href="/binge/61796d89af75c3e92aa8e6a2"><img class="picture one" src="https://i.imgur.com/MqLrR1I.jpg"></a>
    <a href="/binge/61796d89af75c3e92aa8e696"><img class="picture two" src="https://i.imgur.com/OHemdDE.jpg"></a>
    <a href="/binge/61796d89af75c3e92aa8e69c"><img class="picture three" src="https://i.imgur.com/5uAEXTr.jpg"></a>
</div>








<div class="addNew">
    <a href="/binge/new"><h1>Add New Movie/Show +</h1></a>
</div>

<h1 class="sections">Movies</h1>
<div class="scroll">
{% for movie in movie %}
    <div class="card">
        {% if movie.type =="movie" %}    
        <a href="/binge/{{movie._id}}"><img class="poster" src="{{movie.img}}"></a>
        {% endif %}
    </div>
{% endfor %}
</div>

<h1>Shows</h1>
<div class="scroll">
{% for movie in movie %}        
    <div class="card">
        {% if movie.type =="show" %}    
        <a href="/binge/{{movie._id}}"><img class="poster" src="{{movie.img}}"></a>
        {% endif %}
        </div>
{% endfor %}
</div>



{% endblock %}