<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>    
    <script src="js/layout.js" defer></script>
</head>

<body>
    <div class="topnav">
        <a href="/binge" class="brand">BINGE</a>
        <a class="active" href="/binge/mylist">My List</a>
        <button class="user"></button>
        <div class="search-container">
            <form action="/binge/search" method="post">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="optionsBox">
    <div class="options">
        <div class=optionItem>
        <h1>Edit Profile</h1>
        </div>
        <div class=optionItem>
        <h1>My List</h1>
        </div>

        <div class=optionItem>
        <h1><a href="/user/logout">Logout</a></h1>
        </div>
    </div>
    </div>
    {% block content %} 
    {% endblock %}

<div class="footer"></div>
</body>
</html>