{% layout "layout.liquid" %} 

{% block content %} 
<link rel="stylesheet" href="/css/form.css">

<form class="form" action="/binge" method="post">
    <h1>Create New Movie/Show</h1>
    <div class="area">
    <legend>Title</legend>
    <input type="text" name="title" placeholder="Title" required>
    </div>


    <div class="areaTwo">
    <legend>Type</legend>
    Movie:<input class="radio" type="radio" name="type" value="movie" required>
    Show:<input class="radio" type="radio" name="type" value="show" required>
    </div>
    
    <div class="area">
    <legend>Release Date</legend>
    <input type="text" name="releaseDate" placeholder="Year">
    </div>

    <div class="area">
    <legend>Poster</legend>
    <input type="text" name="img" placeholder="Image URL">
    </div>
    
    <div class="area">
    <legend>Description</legend>
        <input class="description" type="text" name="desc" placeholder="Description">
    </div>
    
    <div class="area">
    <legend>Directed By:</legend>
        <input type="text" name="director" placeholder="Director">
    </div>

    <div class="cast">
    <legend>Cast</legend>
        <input type="text" name="cast1" placeholder="First Cast Member">
        <input type="text" name="cast2" placeholder="Second Cast Member">
        <input type="text" name="cast3" placeholder="Third Cast Member">
    </div>
    <input class="submit" type="submit">
</form>



{% endblock %}