{% layout "layout.liquid" %} 

{% block content %} 
<h1>Create New Movie/Show</h1>

<form action="/binge" method="post">
    <legend>Title</legend>
    <div>
    <input type="text" name="title" required>
    </div>

    <legend>Type</legend>
    <div>
    Movie:<input type="radio" name="type" value="movie" required>
    Show:<input type="radio" name="type" value="show" required>
    </div>

    <legend>Release Date</legend>
    <div>
    <input type="text" name="releaseDate" placeholder="Year">
    </div>

    <legend>Poster</legend>
    <div>
    <input type="text" name="img" placeholder="Image URL">
    </div>

    <legend>Description</legend>
    <div>
        <input type="text" name="desc">
    </div>

    <legend>Directed By:</legend>
    <div>
        <input type="text" name="director">
    </div>

    <legend>Cast</legend>
    <div>
        <input type="text" name="cast1">
        <input type="text" name="cast2">
        <input type="text" name="cast3">
    </div>
    <input type="submit">
</form>



{% endblock %}