* {
    font-family: 'Bebas Neue', cursive;
}

.brand {
    text-decoration: none;
    color: #ee5155;
    font-size: 3em;
}

.active {
    font-size: 1.5em;
    margin-top: 15px;
    border-left: 2px solid darkgray;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.topnav input[type=text] {
    background-color: #ddd;
    padding: 6px;
    margin-top: 20px;
    font-size: 17px;
    border: none;
}

.topnav .search-container {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.topnav .search-container button {
    float: right;
    margin-right: 20px;
    padding: 6px 10px;
    margin-top: 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.footer {
    margin-top: 20px;
    height: 200px;
    width: 100vw;
    position: relative;
    bottom:0;
    left:0;
    left: calc(-50vw + 50%);
    /* ^^ found this online to make the header the full length even when body is smaller */
    background-color: transparent;
    bottom: 0;
}

.user {
    margin-top: 10px;
    margin-right: 30px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: 1px solid darkgray;
    float: right;
}

.user img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.optionsBox {
    position: absolute;
    right: .5%;
    z-index: +1;
    display:none;
}
.options {
    width: 250px;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.optionItem {
    height: 60px;
    width: 250px;
    border-bottom: 2px solid darkgray;
}

.options h1 {
    text-align: right;
    margin-right: 10%;
    font-size: 1.5em;
}

.options h1 a {
    text-decoration: none;
    color: black
}

@media only screen and (max-width:  658px) {
    .brand {
        text-decoration: none;
        color: #ee5155;
        font-size: 2em;
        margin-top: 10px;
    }
    .topnav .search-container {
        margin-right: 50px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}