
.body {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.rate {
    font-size: 1.3em;
}

.ratings {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.title {
    width: 50%;
}

.title img {
    width: 60%;
}

.desc {
    width: 50%;
    margin-top: 100px;
}

.desc article {
    filter:opacity(70%);
}

.desc ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

.cOneImg {
    height: 150px;
    width: 100px;
    display: block;
    margin-bottom: 10px;
}

.editDel {
    display: flex;
    justify-content: end;
    margin-top: 100px;
}

.editDel button{
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.addto {
    display: flex;
    justify-content: center;
}

.addto button {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    background-color: #ee5155;
    color: white;
}

@media only screen and (max-width: 768px) {
    .body {
        flex-direction: column;
    }
    .title {
        width: 100%;
    }
    .title img {
        width: 100%;
    }

    .desc {
        width: 100%;
        margin-top: 0;
    }
    .cOneImg {
        height: 100px;
        width: 70px;
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: .8em;
    }
}