<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/usercss/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="all">
        <div class="signup">
            <div class="block blockone">
            <h1>Looks like you're new here!</h1>
            <a href="/user/signup"><button>Signup</button></a>
            </div>
        </div>

        <div class="login">
            <div class="block">
            <h1>Welcome back!</h1>
            <a href="/user/login"><button>Login</button></a>
            </div>
        </div>
    </div>
</body>
</html>