.username {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 150px;
}

.pfps {
    width: 300px;
    height: 300px;
    border: 5px solid darkgray;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.link {
    display: block;
    width: max-content;
    margin: auto;
    margin-bottom: 10px;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    height: 700px;
    margin-top: 100px;
}

.ident {
    height: 200px;
    width: 100%;
    background-color: #ee5155;
}

.ident h1 {
    text-decoration: none;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 658px) {
    .card {
        width: 300px;
        height: 500px;
        margin-top: 10px;
    }

    .pfps {
        width: 200px;
        height: 200px;
    }
    .username {
        margin-bottom: 20px;
    }
}